<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beago Cirius - {{.Title | titlecase}}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>

    <script src="https://unpkg.com/tex-linebreak2@0.8/dist/lib.js"></script>


    <script>hljs.highlightAll();</script>
    <script>
        const cache = new Map();

        document.addEventListener('click', e => {
            const a = e.target.closest('a[href^="/"]');
            if (!a) return;
            if (a.pathname.startsWith('/media/') || !cache.has(a.pathname)) return;
            e.preventDefault();
            const html = cache.get(a.pathname);
            const main = document.querySelector('main');
            main.innerHTML = html;
            history.pushState({}, '', a.pathname);
            window.scrollTo(0, 0);
            hljs.highlightAll();
        });
    </script>
</head>

<body>
    <div id="page">
        <header>
            <h1>😱 Beago Cirius</h1>
        </header>
        <nav>{{range .Nav}}<a href="{{.Path}}">{{.Title}}</a>{{end}}</nav>
        <main>
            {{.HTML}}
        </main>
        <footer>
            <p>© 2026 Aaron P. Murniadi</p>
        </footer>
    </div>
    <script>
        texLinebreak.texLinebreakDOM(document.querySelectorAll("p"), { textAlign: "justify" });
    </script>
</body>

</html>