<div class="font-switcher-row">
  <label class="font-switcher-label"
    >Font:
    <select id="font-switcher" aria-label="Font">
      <option value="default">Default (Times New Roman)</option>
      <option value="baskervaldx">Baskervald X</option>
      <option value="computermodern">Computer Modern</option>
      <option value="kpfonts">KP Fonts</option>
      <option value="gfsdidot">GFS Didot</option>
      <option value="utopia">Utopia</option>
      <option value="venturis">Venturis ADF</option>
      <option value="libertine">Linux Libertine</option>
      <option value="gyrebonum">TeX Gyre Bonum</option>
      <option value="gyrepagella">TeX Gyre Pagella</option>
      <option value="gyreschola">TeX Gyre Schola</option>
      <option value="gyretermes">TeX Gyre Termes</option>
      <option value="antiqua">URW Antiqua</option>
      <option value="bera">Bera Serif</option>
      <option value="bembo">Bembo</option>
      <option value="palatino">Palatino</option>
      <option value="crimson">Crimson</option>
    </select>
  </label>
</div>
